body {
    margin: 0;
    font-family: 'Texturina', serif;
}

.hero-image {
    background-color: #b6b3b3;
    background-position: 50% 50%;    width: 100vw;
}

.hero-image img {
    width: 100%;
}

.hero-text {
    font-size: 3.5em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

.hero-text h1 {
    font-size: 1.5em;
    padding-bottom: 3rem;
    line-height: 1.1;
}

.hero-text h3 {
    font-weight: 100;
}

button {
    min-width: 8vw;
    padding: 10px!important;
    font-size: 0.23em!important;
    margin: 5ch;
}