body {
    margin: 0;
    font-family: 'Sansita Swashed', cursive;
    background-color: #b6b3b3;
}

@keyframes mymove {
    from {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
    }
    to {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* front page bacground image*/

.jumbotron {
    background-image: url("https://pavloyarmolyk.netlify.app//data/001/MBG-1920-1012.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #b6b3b3;
}

/*Front page main text*/

.hero-text {
    font-size: 3.5em;
    text-align: center;
    position: absolute;
    animation: mymove 1s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

.hero-text h2 {
    font-size: 1em;
    padding-bottom: 3rem;
    line-height: 1.1;
}

.hero-text h3 {
    font-weight: 100;
}

/*Front page main buttons*/

button {
    min-width: 8vw;
    margin: 5ch;
}

.modal-body {
    padding: 3rem;
    font-size: 1.2em;
    line-height: 2em;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.modal-title {
    font-size: 1.2em;
    color: transparent;
}

#exampleModalLongTitle {
    font-size: 25px;
}

.modal-content {
    background-image: url("https://pavloyarmolyk.netlify.app/data/001/opaS2.jpg");
    background-position: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}

/*Modal width*/

.modal-lg {
    min-width: 80%;
}

.modal_img {
    float: left;
    padding: 0 1rem 1rem 1rem;
    margin: 0 3rem;
}

.polaroid {
    width: 32%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.container_polaroid {
    padding: 10px;
}

.img_wrap {
    width: 100%;
    height: 300px;
}

.img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    ...
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    .polaroid {
        width: 100%;
    }
    /*front page main text*/
    .jumbotron {
        font-size: 0.5em;
        background-image: url("https://pavloyarmolyk.netlify.app//data/001/MBG-1920-1012.png");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #b6b3b3;
    }
    .hero-text h2 {
        font-size: 1em;
        padding-bottom: 3rem;
        line-height: 1.1;
    }
    .hero-text h3 {
        font-size: 0.6em;
        font-weight: 100;
    }
    button {
        font-size: 0.4em!important;
        min-width: 5vw;
        margin: 3ch;
    }
    .modal-body {
        padding: 1em;
    }
    .modal_img {
        float: none;
        width: 60vw;
        padding: 0.5rem;
        margin: 2rem;
    }
}

/* Large devices (desktops, less than 1200px) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .polaroid {
        width: 49%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
    }
}